[submodule "aave-looping-strategy-tests/lib/forge-std"]
	path = aave-looping-strategy-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aave-looping-strategy-tests/lib/openzeppelin-contracts"]
	path = aave-looping-strategy-tests/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "aave-looping-strategy-tests/lib/aave-v3-core"]
	path = aave-looping-strategy-tests/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "aave-looping-strategy-tests/lib/v3-periphery"]
	path = aave-looping-strategy-tests/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "aave-looping-strategy-tests/lib/protocol-v3"]
	path = aave-looping-strategy-tests/lib/protocol-v3
	url = https://github.com/aave/protocol-v3
